In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
cleaned=pd.read_csv("C:/Users/avakk/Downloads/updatedcv.csv")

cleaned.drop(["url","lat","long","id","model","region"],axis=1,inplace=True)

cleaned.drop(cleaned[cleaned["title_status"]=="parts only"].index,inplace=True)
cleaned.drop(cleaned[cleaned["title_status"]=="missing"].index,inplace=True)
cleaned.drop(cleaned[cleaned["title_status"]=="lien"].index,inplace=True)

cleaned.drop(cleaned[cleaned["price"]<2000].index,inplace=True)
cleaned.drop(cleaned[cleaned["price"]>40000].index,inplace=True)

cleaned["price"]=np.log1p(cleaned["price"])

ne=["ct","me","ma","nh","ri","vt","nj","ny","pa"]
mw=["il","in","mi","oh","wi","ia","ks","mn","mo","ne","nd","sd"]
s=["de","fl","ga","md","nc","sc","va","wv","dc","ms","al","ky","tn","ar","tx","ok","la"]
w=["az","co","id","mt","nv","nm","ut","wy","wa","or","hi","ca","az","ak"]

for index, row in cleaned.iterrows():
    if(row["state"] in ne):
        cleaned.at[index,"state_trans"]="ne"
    if(row["state"] in mw):
        cleaned.at[index,"state_trans"]="mw"
    if(row["state"] in s):
        cleaned.at[index,"state_trans"]="s"
    if(row["state"] in w):
        cleaned.at[index,"state_trans"]="w"

yearmed=cleaned["year"].median()
cleaned["year"].fillna(yearmed)
for index, row in cleaned.iterrows():
    if(row["year"]>2020):
        cleaned.at[index,"year"]=yearmed

In [3]:
website_url = requests.get("https://en.wikipedia.org/wiki/List_of_U.S._states_by_GDP_per_capita").text
soup = BeautifulSoup(website_url,"lxml")

my_table = soup.find("table",{"class":"wikitable sortable"})
my_table
names=my_table.findAll('tr')
soup = BeautifulSoup(website_url,"html.parser")
rows = []
for tr in soup.select('tr'):
    rows.append([td.get_text(strip=True) for td in tr.select('th, td')])
    
rows_up=rows[:len(rows)-77]

gdp=pd.DataFrame(rows_up,columns=["Rank","State","2018","2017","2016","2015","2014","2013","2012","2011"])

gdp.drop(["Rank"],axis=1,inplace=True)
gdp.drop(gdp.index[[0,1,23]],inplace=True)
gdp["State"]=gdp["State"].str.lower()

gdp.columns=["US States","GDP2018","GDP2017","GDP2016","GDP2015","GDP2014","GDP2013","GDP2012","GDP2011"]
gdp.index=range(1,len(gdp)+1)

columns=["GDP2018","GDP2017","GDP2016","GDP2015","GDP2014","GDP2013","GDP2012","GDP2011"]

us_state_abbrev = {
    'alabama': 'AL',
    'alaska': 'AK',
    'american samoa': 'AS',
    'arizona': 'AZ',
    'arkansas': 'AR',
    'california': 'CA',
    'colorado': 'CO',
    'connecticut': 'CT',
    'delaware': 'DE',
    'district of columbia': 'DC',
    'florida': 'FL',
    'georgia': 'GA',
    'guam': 'GU',
    'hawaii': 'HI',
    'idaho': 'ID',
    'illinois': 'IL',
    'indiana': 'IN',
    'iowa': 'IA',
    'kansas': 'KS',
    'kentucky': 'KY',
    'louisiana': 'LA',
    'maine': 'ME',
    'maryland': 'MD',
    'massachusetts': 'MA',
    'michigan': 'MI',
    'minnesota': 'MN',
    'mississippi': 'MS',
    'missouri': 'MO',
    'montana': 'MT',
    'nebraska': 'NE',
    'nevada': 'NV',
    'new hampshire': 'NH',
    'new jersey': 'NJ',
    'new mexico': 'NM',
    'new york': 'NY',
    'north carolina': 'NC',
    'north dakota': 'ND',
    'northern mariana islands':'MP',
    'ohio': 'OH',
    'oklahoma': 'OK',
    'oregon': 'OR',
    'pennsylvania': 'PA',
    'puerto rico': 'PR',
    'rhode island': 'RI',
    'south carolina': 'SC',
    'south dakota': 'SD',
    'tennessee': 'TN',
    'texas': 'TX',
    'utah': 'UT',
    'vermont': 'VT',
    'virgin islands': 'VI',
    'virginia': 'VA',
    'washington': 'WA',
    'west virginia': 'WV',
    'wisconsin': 'WI',
    'wyoming': 'WY'
}

for index,row in gdp.iterrows():
    gdp.at[index,"US States"]=us_state_abbrev[row["US States"]]

gdp["US States"]=gdp["US States"].str.lower()
gdp.columns=["state","GDP2018","GDP2017","GDP2016","GDP2015","GDP2014","GDP2013","GDP2012","GDP2011"]


updatedsecondary=pd.merge(cleaned,gdp,on="state")

In [5]:
gdp

   state GDP2018 GDP2017 GDP2016 GDP2015 GDP2014 GDP2013 GDP2012 GDP2011
1     ma  65,545  64,507  62,510  61,882  62,456  61,769  60,808  59,178
2     ny  64,579  64,093  63,420  62,444  62,841  61,185  61,267  59,481
3     ct  64,511  63,747  62,236  62,550  63,502  63,638  64,906  65,574
4     ak  63,971  67,705  67,411  69,700  73,478  70,573  69,564  72,204
5     de  63,664  64,040  63,271  60,719  62,174  63,793  62,837  64,313
6     nd  62,837  67,305  71,056  67,651  68,105  57,066  52,185  48,858
7     wy  58,821  60,908  61,417  60,770  60,777  63,985  64,603  66,320
8     ca  58,619  57,328  55,374  53,855  52,974  52,099  51,871  51,733
9     nj  57,084  56,472  55,635  55,750  55,161  54,302  55,023  55,067
10    wa  56,831  55,780  55,001  54,161  53,439  52,500  52,679  52,264
11    md  55,404  54,894  54,003  53,765  54,018  54,209  53,675  52,515
12    il  54,091  53,432  52,795  51,963  52,172  51,198  50,304  49,859
13    tx  53,795  54,421  52,993  52,018  50,266  48,354  47,417  47,034
14    mn  53,704  53,380  53,005  51,999  51,272  50,875  50,148  48,884
15    ne  53,114  52,878  53,099  51,565  50,631  51,360  49,569  47,973
16    co  52,795  52,622  52,019  50,475  49,639  49,285  49,254  49,731
17    nh  51,794  50,456  49,480  48,871  48,652  48,504  48,388  47,265
18    va  51,736  51,716  50,803  51,106  51,546  51,754  51,946  51,389
19    hi  51,277  50,320  49,497  49,539  49,513  49,331  49,418  48,549
20    pa  50,997  50,418  49,155  48,278  47,540  46,872  46,387  45,312
21    or  50,582  49,792  48,342  48,094  49,395  51,266  49,601  47,530
22    ia  50,315  50,086  49,218  48,002  48,001  46,523  45,884  45,195
23    sd  48,076  47,706  46,776  46,869  46,965  47,972  45,605  45,457
24    ri  47,639  47,118  46,668  46,356  46,188  46,010  46,332  45,280
25    oh  47,567  46,826  46,385  45,254  44,896  44,192  42,667  41,593
26    wi  47,266  46,859  46,340  45,845  45,382  44,906  44,126  43,215
27    ks  46,982  46,890  46,003  45,470  45,514  45,476  44,243  43,770
28    in  45,317  44,797  44,577  43,866  43,064  43,058  42,996  40,572
29    ga  44,723  43,913  43,313  42,500  42,191  42,140  42,029  42,052
30    ut  44,636  44,204  43,069  42,267  41,929  41,992  41,500  41,563
31    ok  44,623  45,864  45,007  43,288  41,861  39,961  38,303  38,640
32    nc  44,325  44,096  43,372  42,945  42,659  43,223  43,141  43,160
33    vt  43,946  43,495  43,039  42,914  43,042  43,124  42,170  40,855
34    la  43,917  44,293  44,254  43,725  45,482  45,712  48,599  46,949
35    nv  43,820  43,649  42,927  43,075  43,382  44,555  44,589  44,774
36    mi  43,372  42,631  41,514  40,993  40,463  39,757  38,763  36,676
37    mo  43,317  42,943  42,442  42,487  41,926  41,598  42,204  42,012
38    tn  43,267  42,797  41,828  41,487  41,091  40,193  39,370  39,096
39    nm  41,348  41,577  40,842  39,659  40,094  40,167  40,297  40,670
40    fl  39,543  39,093  38,398  38,023  37,705  37,876  38,604  38,695
41    mt  39,356  39,686  39,214  38,476  38,537  38,542  37,733  36,667
42    ky  38,985  38,603  38,298  38,247  38,052  37,926  37,579  36,209
43    me  38,921  38,450  38,014  37,477  37,705  37,780  38,352  37,910
44    az  38,590  38,414  38,427  38,303  38,559  38,257  37,935  38,232
45    al  37,261  36,856  36,538  36,660  36,425  36,201  35,913  35,376
46    sc  37,063  36,796  36,295  35,701  35,346  35,609  35,126  34,955
47    ar  36,368  36,196  36,249  35,865  34,965  35,146  34,671  33,837
48    wv  36,315  36,453  36,161  35,755  35,509  36,084  35,368  34,564
49    id  35,466  35,467  35,099  34,748  34,094  34,270  34,620  34,664
50    ms  31,881  31,633  31,522  31,923  31,786  31,167  31,688  31,658

In [6]:
updatedsecondary

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,...,state,state_trans,GDP2018,GDP2017,GDP2016,GDP2015,GDP2014,GDP2013,GDP2012,GDP2011
0,9.792556,2012.0,volkswagen,excellent,4 cylinders,gas,63500.0,clean,manual,4wd,...,ut,w,"44,636","44,204","43,069","42,267","41,929","41,992","41,500","41,563"
1,9.546813,2009.0,ram,good,6 cylinders,gas,120057.0,clean,automatic,4wd,...,ut,w,"44,636","44,204","43,069","42,267","41,929","41,992","41,500","41,563"
2,10.448744,2017.0,ford,excellent,6 cylinders,diesel,95484.0,clean,automatic,4wd,...,ut,w,"44,636","44,204","43,069","42,267","41,929","41,992","41,500","41,563"
3,9.581973,2007.0,gmc,excellent,6 cylinders,gas,89340.0,clean,automatic,4wd,...,ut,w,"44,636","44,204","43,069","42,267","41,929","41,992","41,500","41,563"
4,9.433564,2013.0,ford,fair,6 cylinders,gas,226031.0,clean,automatic,4wd,...,ut,w,"44,636","44,204","43,069","42,267","41,929","41,992","41,500","41,563"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416739,9.770013,2015.0,ford,good,6 cylinders,gas,67634.0,clean,automatic,2wd,...,tn,s,"43,267","42,797","41,828","41,487","41,091","40,193","39,370","39,096"
416740,9.539716,2015.0,kia,good,6 cylinders,gas,25623.0,clean,automatic,2wd,...,tn,s,"43,267","42,797","41,828","41,487","41,091","40,193","39,370","39,096"
416741,10.225607,2016.0,audi,good,6 cylinders,gas,29344.0,clean,automatic,4wd,...,tn,s,"43,267","42,797","41,828","41,487","41,091","40,193","39,370","39,096"
416742,9.769956,2018.0,jeep,like new,6 cylinders,gas,52449.0,clean,automatic,4wd,...,tn,s,"43,267","42,797","41,828","41,487","41,091","40,193","39,370","39,096"
416743,9.758520,2018.0,ford,good,6 cylinders,other,9267.0,clean,automatic,2wd,...,tn,s,"43,267","42,797","41,828","41,487","41,091","40,193","39,370","39,096"

In [ ]:
updatedsecondary.to_csv(r'C:/Users/avakk/Downloads/primarysecondary.csv',index=False)